<p id="notice"><%= notice %></p>

<h1>Twilios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twilios.each do |twilio| %>
      <tr>
        <td><%= link_to 'Show', twilio %></td>
        <td><%= link_to 'Edit', edit_twilio_path(twilio) %></td>
        <td><%= link_to 'Destroy', twilio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twilio', new_twilio_path %>
