<script>
    function fillSelector(selector, data, elementToDisplay){
        var row = `<option value=""> <-- select a ${selector} --> </option>`;
        $(row).appendTo(`#${selector}_id`)

        $.each(data, function(index, item) {
            row = "<option value=\"" + item.id + "\">" + item[elementToDisplay] + "</option>";
            $(row).appendTo(`#${selector}_id`)
        });
        $(`#${selector}-wrapper`).show()
    }

    function apiRequestAndFillForm(url, selector, elementToDisplay) {
        $.get(url, function(response){
            console.log(response)
            fillSelector(selector, response, elementToDisplay)
        })
    }

    function hideAndReset(model){
        $(`#${model}-wrapper`).nextAll('.selector-wrapper').hide()
        $(`#${model}-wrapper`).nextAll('.selector-wrapper').find('select').empty()
    }

    function updateFormData(url, selectorToFill, elementToDisplay){
        let model = url.split("/:")[1].split('_')[0]
        let requestUrl = url.split("/:")[0]
        let id = $(`#${model}_id`).val()
        hideAndReset(model)
        apiRequestAndFillForm(`${requestUrl}/${id}`, selectorToFill, elementToDisplay)
    }

    function hideAll(){
        $('.selector-wrapper').hide()
        $('#customer-wrapper, .show').show()
    }

    function showSaveButton(){
        employee = $('#employee_id').val()
        customer = $('#employee_id').val()
        building = $('#employee_id').val()

        if (employee && customer && building) $
    }

    $(document).ready(function(){
        hideAll()
        $('.selector-wrapper').addClass('fancy-form fancy-form-select type-select')
        $('select').addClass('form-control')
        $('#report').addClass('form-control')

        $("#customer_id").on("change", function() {
            updateFormData(`/buildings/customers/:customer_id`, 'building', 'street' )
        });

        $("#building_id").on("change", function() {
            updateFormData('/batteries/building/:building_id', 'battery', 'id')
        });

        $("#battery_id").on("change", function() {
            updateFormData('/columns/battery/:battery_id', 'column', 'id')
        });

        $("#column_id").on("change", function() {
            updateFormData('/elevators/column/:column_id', 'elevator', 'id')
        });
    })
</script>


<section id="intervention">
    <div class="container" >
        <div class="heading-title text-center">
            <h2>Interventions</h2>
        </div>

        <div class="row-fluid text-center">
          <%= form_with( url: interventions_create_path(current_user) ) do |f| %>
            <div class="col-md-12">

              <div id="employee-wrapper" class="selector-wrapper show">
                  <%= f.label :employee_id %>
                  <%= f.collection_select :employee_id, Employee.all.order(:last_name), :id, :badge, { prompt: 'Please select' } %>
              </div>

              <div id="customer-wrapper" class="selector-wrapper">
                  <%= f.label :customer_id %>
                  <%= f.collection_select :customer_id, @customers, :id, :company_name, { prompt: 'Please select' } %>
              </div>

              <div id="building-wrapper" class="selector-wrapper">
                  <label for="building_id">Building</label>
                  <select name="building_id" id="building_id"></select>
              </div>

              <div id="battery-wrapper" class="selector-wrapper">
                  <label for="battery_id">Batteries</label>
                  <select name="battery_id" id="battery_id"></select>
              </div>

              <div id="column-wrapper" class="selector-wrapper">
                  <label for="column_id">Column</label>
                  <select name="column_id" id="column_id"></select>
              </div>

              <div id="elevator-wrapper" class="selector-wrapper">
                  <label for="elevator_id">Elevators</label>
                  <select name="elevator_id" id="elevator_id"></select>
              </div>

              <div id="report-wrapper">
                  <%= f.label :report %>
                  <%= f.text_area(:report, size: "30x5") %>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <%= f.submit("REQUEST INTERVENTION", {class: "btn btn-warning col-md-12"})%>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</section>