<section id="contact" class="alternate">
    <div class="container">

        <header class="text-center mb-60">
            <h2>Contact Us</h2>
        </header>


        <div class="row">

            <!-- FORM -->
            <div class="col-md-8 col-sm-8">

                <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

                <!-- Alert Success -->
                <div id="alert_success" class="alert alert-success mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Thank You!</strong> Your message successfully sent!
                </div><!-- /Alert Success -->


                <!-- Alert Failed -->
                <div id="alert_failed" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>[SMTP] Error!</strong> Internal server error!
                </div><!-- /Alert Failed -->


                <!-- Alert Mandatory -->
                <div id="alert_mandatory" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                </div><!-- /Alert Mandatory -->

                <%= form_with( url: lead_path() ) do |f| %>
                    <fieldset>
                        <div class="row">

                            <div class="col-md-4">
                                <%= f.label('full name:') %>
                                <%= f.text_field('lead_full_name', {class: 'form-control'}) %>
                            </div>

                            <div class="col-md-4">
                                <%= f.label('full name:') %>
                                <%= f.text_field('lead_business_name', {class: 'form-control'}) %>
                            </div>


                            <div class="col-md-4">
                                <%= f.label('emal:') %>
                                <%= f.text_field('lead_full_name', {class: 'form-control'}) %>
                            </div>


                            <div class="col-md-4">
                                <%= f.label('phone number:') %>
                                <%= f.number_field('lead_phone_number', {class: 'form-control'}) %>
                            </div>

                            <div class="col-md-4">
                                <label for="contact:subject">Company Name *</label>
                                <%= f.text_field('lead_project_name', {class: "form-control"} ) %>
                            </div>

                            <div class="col-md-4">
                                <%= f.label('project description:') %>
                                <%= f.text_field('lead_project_desc', {class: 'form-control'}) %>
                            </div>

                            <div class="col-md-4">
                                <%= f.label('message:') %>
                                <%= f.text_field('lead_message', {class: 'form-control'}) %>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <%= f.label('building type') %>
                                <%= f.select('lead_building_type' , ['--- select a building type  ---', 'residential', 'commercial', 'corporate', 'hybrid'], {}, {class: 'form-control'}) %>
                            </div>

                            <div class="col-md-8">
                                <%= f.label("File Attachment") %>
                                <%= f.file_field("lead_file", {class: "custom-file-upload",  "data-btn-text":"Upload a File"}) %>
                                <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <%= f.submit("SEND MESSAGE", {class: "btn btn-primary col-md-12"})%>
                            </div>
                        </div>
                    </fieldset>
                <% end %>

            </div>
            <!-- /FORM -->

            <!-- INFO -->
            <%= render partial:"common/info_contact_bubble" %>
            <!-- /INFO -->
        </div>
    </div>
</section>