<div id="header" class="navbar-toggleable-md sticky header-sm">
   <header id="topNav">
       <div class="container">
           <a class="logo float-left" style="display: flex; justify-content: center; align-items: center; padding: 5px;" href="<%= root_path() %>">
                <%= image_tag 'rocket-elevators-logo.png' %>
           </a>
           <div class="navbar-collapse collapse float-right nav-main-collapse">
               <nav class="nav-main">
                   <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                       <% @navs.each do |nav| %>
                       <%= render partial: 'common/nav-with-id',
                                   locals: { nav: nav  } %>
                       <% end %>

                        <% if user_signed_in? and current_user.can_acces_intervention? %>
                            <%= render partial: 'common/nav-with-links', locals: { title: 'intervention', path: interventions_new_path(current_user), method: 'get'}%>
                        <% end %>

                        <% if user_signed_in? and current_user.can_access_dashboard? %>
                            <%= render partial: 'common/nav-with-links', locals: { title: 'admin', path: rails_admin_path(current_user), method: 'get'}%>
                        <% end %>

                       <% if user_signed_in? %>
                           <%= render partial: 'common/nav-with-links', locals: { title: 'Edit Profile', path: edit_user_registration_path(), class: '', method: 'get' }%>
                           <%= render partial: 'common/nav-with-links', locals: { title: 'Logout', path: destroy_user_session_path(), method: 'delete' ,class: '' }%>
                       <% else %>
                           <%= render partial: 'common/nav-with-links', locals: {title: 'login', path: new_user_session_path(), class: '', method: 'get'} %>
                       <% end %>
                   </ul>
               </nav>
           </div>
       </div>
   </header>
</div>
